body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ECDCBF;
    color: black;
    margin: 0;
    padding: 0;
}

.center{
    text-align: center;
}

#headerText{
    background-color: #A31D1D;
    padding: 10px;
    color: white;
    margin-top: 0;
}

#buttonsDiv button{
    width: 20%;
    display: inline-block;
    margin: 5px;
    padding: 10px;
}
